<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
<header th:replace="/fragments/common :: navbar">
</header>
<div class="bg-light rounded">
  <small th:if="${invalid_credentials}" id="invalidCredentials"
         class="form-text rounded text-danger">Invalid credentials!</small>
<form th:action="@{/users/login}" th:method="post">
<div class="mb-3">
  <label for="usernameInput" class="form-label">Username</label>
  <input type="text" name="username" th:value="${username}" class="form-control" id="usernameInput" placeholder="Enter username">
</div>
<div class="mb-3">
  <label for="passwordInput" class="form-label">Password</label>
  <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Enter password">
</div>
  <button type="submit" class="btn btn-dark">Login</button>
</form>
</div>

<footer th:replace="/fragments/common :: footer"></footer>
<script th:replace="/fragments/common :: script"></script>
</body>
</html>