<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
<header th:replace="/fragments/common :: navbar">
</header>
<div class="card bg-dark text-white" style="width: 18rem; margin: 50px 600px" >
    <img class="card-img" src="/images/istockphoto-156180951-612x612.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">Manchester United - Chelsea</h5>
        <img src="/images/logo.png" style="display: inline-block" width="100px" height="100px">
        <img src="/images/213-2133562_chelsea-fc-logo-clipart-chelsea-f-chelsea-fc.png" style="display: inline-block" width="100px" height="100px">
        <p class="card-text">Date: 06/08/2021 14:30</p>
    </div>
</div>
<footer th:replace="/fragments/common :: footer">
</footer>
<script th:replace="/fragments/common :: script"></script>
</body>
</html>