<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body th:object="${player}">
<header th:replace="/fragments/common :: navbar">
</header>
<img th:src="${player.imgUrl ?: '/images/depositphotos_104564156-stock-illustration-male-user-icon.jpg'}" width="500px" height="500px" alt="Player image">
<div class="bg-light" style="display: inline-block" >
    <p th:text="|Player name: ${player.firstName ?: ''} ${player.lastName}|"></p>
    <p th:text="|Position: ${player.position.name()}|"></p>
    <p th:text="|Nationality: ${player.nationality.name()}|"></p>
    <p th:text="|Age: ${player.age}|"></p>
    <p th:text="|Squad number: ${player.squadNumber}|"></p>
    <p th:text="|Quote: ${player.description}|"></p>
    <th:block sec:authorize="hasRole('ADMIN')">
    <form th:method="get" style="display: inline-block" th:action="@{/team/squad/edit/{id}(id=*{id})}">
        <button class="btn btn-dark" type="submit">Edit</button>
    </form>
    <form th:method="delete" style="display: inline-block" th:action="@{/team/squad/delete/{id}(id=*{id})}">
        <button class="btn btn-dark" type="submit">Delete</button>
    </form>
    </th:block>
</div>
<footer th:replace="/fragments/common :: footer">
</footer>
<script th:replace="/fragments/common :: script"></script>
</body>
</html>