<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
<header th:replace="/fragments/common :: navbar">
</header>
<div class="bg-light rounded">
<form>
<div class="mb-3">
  <label for="usernameInput" class="form-label">Username</label>
  <input type="text" class="form-control" id="usernameInput" placeholder="Enter username">
</div>
<div class="mb-3">
  <label for="emailInput" class="form-label">Email address</label>
  <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="passwordInput" class="form-label">Password</label>
  <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
</div>
<div class="mb-3">
  <label for="confirmPasswordInput" class="form-label">Confirm password</label>
  <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Enter password">
</div>
  <button type="submit" class="btn btn-dark">Register</button>
</form>
</div>

<footer th:replace="/fragments/common :: footer"></footer>
<script th:replace="/fragments/common :: script"></script>
</body>
</html>