<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
<header th:replace="/fragments/common :: navbar">
</header>
<table class="table table-bordered table-dark" style="margin: 50px">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Played</th>
        <th scope="col">Win</th>
        <th scope="col">Draw</th>
        <th scope="col">Loss</th>
        <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td> <img src="/images/logo.png" width="40" height="30">Manchester United</td>
        <td>10</td>
        <td>8</td>
        <td>2</td>
        <td>0</td>
        <td>26</td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td> <img src="/images/logo.png" width="40" height="30">Manchester United</td>
        <td>10</td>
        <td>8</td>
        <td>2</td>
        <td>0</td>
        <td>26</td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td> <img src="/images/logo.png" width="40" height="30">Manchester United</td>
        <td>10</td>
        <td>8</td>
        <td>2</td>
        <td>0</td>
        <td>26</td>
    </tr>
    </tbody>
</table>
<footer th:replace="/fragments/common :: footer">
</footer>
<script th:replace="/fragments/common :: script"></script>
</body>
</html>