<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
<header th:replace="/fragments/common :: navbar">
</header>
<div style="margin-left: 300px; margin-top: 20px; margin-bottom: 20px" >
  <img src="/images/ferguson-statue2.jpg" width="500px" height="500px" alt="Player image">
  <div style="display: inline-block; width: 500px; height: 500px;" >
    <h2>Usage stats:</h2>
    <h5 th:text="|Squad requests: ${@usageStatsServiceImpl.squadRequests}|"></h5>
    <h5 th:text="|Standings requests: ${@usageStatsServiceImpl.standingsRequests}|"></h5>
    <h5 th:text="|Matches requests: ${@usageStatsServiceImpl.matchesRequests}|"></h5>
    <h5 th:text="|News requests: ${@usageStatsServiceImpl.newsRequests}|"></h5>
    <h5 th:text="|Store requests: ${@usageStatsServiceImpl.storeRequests}|"></h5>
    <h5 th:text="|Stadium requests: ${@usageStatsServiceImpl.stadiumRequests}|"></h5>
  </div>
</div>
<footer th:replace="/fragments/common :: footerNoScroll">
</footer>
<script th:replace="/fragments/common :: script"></script>
</body>
</html>