<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
<div class="page-container">
    <header th:replace="/fragments/common :: navbar">
    </header>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <form th:each="task : ${tasks}" class="mx-auto w-75 "
              th:method="patch"
              th:action="@{/tasks/update/{id}(id=${task.id})}">

            <div class="card-group task-card">
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Name</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="${task.name}"></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Assigned to</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="${task.user.username}"></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Classification</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="${task.classification.name}" class="classifications " th:classappend="${task.classification.name}"></small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Due Date</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="${#dates.format(task.dueDate, 'yyyy-MM-dd')}"></small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Progress</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="${task.progress}"></small>
                    </div>
                </div>

                <button type="submit" class="button prBtn">Progress</button>
            </div>

        </form>
    </main>

    <footer th:replace="/fragments/common :: footer">
    </footer>

</div>
</body>
</html>
