<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/common :: head">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="/fragments/common :: navbar">
</header>

    <section th:each="aRoute: ${routes}" class="road">
        <img th:src="${aRoute.pictureUrl}" alt="Title image">
        <div>
            <h2 th:text="${aRoute.name}"></h2>
            <p th:text="${aRoute.description}"></p>
            <a th:href="@{/routes/details/{id}(id=${aRoute.id})}" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="/fragments/common :: footer" class="footer bg-blur rounded">
</footer>
</html>