<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="/fragments/common :: head">
        </head>
<body>
        <header th:replace="/fragments/common :: navbar">
        </header>
    <main >
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Products</span></h1>
        <hr class="hr-3"/>
        <div class="bg-blur container w-50">
            <div th:each="aProduct : ${products} " class="row mb-4 d-flex flex-column text-center">
                <a th:href="@{/products/details/{id}(id=${aProduct.id})}"><img library="img" th:src="'/img/' + ${aProduct.sex} + '-' + ${aProduct.category} + '.jpg'" class="img-thumbnail" width="200"
                      height="200"/>
                </a>
                 <h5 th:text="${aProduct.name}" class="text-center"></h5>
                <h2 th:text="${aProduct.price}" class="text-center"></h2>
            </div>
        </div>
    </main>
    <span style="visibility: hidden">...</span>
    <footer th:replace="/fragments/common :: footer">

    </footer>
</body>
</html>
