<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
    <header th:replace="/fragments/common :: navbar">
    </header>
    <main>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
        <hr class="hr-3"/>
        <form th:object="${userModel}"
              th:action="@{/users/register}"
              th:method="post"
              class="mx-auto w-25 bg-blur">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="username" class="h4 mb-2 text-white">Username</label>
                </div>
                <input type="text" class="form-control" id="username" th:field="*{username}"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="email" class="h4 mb-2">Email</label>
                </div>
                <input type="email" class="form-control" id="email" th:field="*{email}" />
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="password" class="h4 mb-2">Password</label>
                </div>
                <input type="password" class="form-control" id="password" th:field="*{password}"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}"/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary text-white mb-3" value="Register">Register</button>
            </div>
        </form>
    </main>
    <footer th:replace="/fragments/common :: footer">
    </footer>
</body>
</html>
